@page "/todoitems/details"
@inject TodoList.Data.ApplicationDbContext DB
@using TodoList
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>TodoItem</h4>
    <hr />
    @if (todoitem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@todoitem.Title</dd>
            <dt class="col-sm-2">IsDone</dt>
            <dd class="col-sm-10">@todoitem.IsDone</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@todoitem.Description</dd>
            <dt class="col-sm-2">CreatedDate</dt>
            <dd class="col-sm-10">@todoitem.CreatedDate</dd>
            <dt class="col-sm-2">UpdatedDate</dt>
            <dd class="col-sm-10">@todoitem.UpdatedDate</dd>
            <dt class="col-sm-2">IsDeleted</dt>
            <dd class="col-sm-10">@todoitem.IsDeleted</dd>
            <dt class="col-sm-2">DueDate</dt>
            <dd class="col-sm-10">@todoitem.DueDate</dd>
            <dt class="col-sm-2">Tags</dt>
            <dd class="col-sm-10">@todoitem.Tags</dd>
            <dt class="col-sm-2">Priority</dt>
            <dd class="col-sm-10">@todoitem.Priority</dd>
        </dl>
        <div>
            <a href="@($"/todoitems/edit?id={todoitem.Id}")">Edit</a> |
            <a href="@($"/todoitems")">Back to List</a>
        </div>
    }
</div>

@code {
    TodoItem? todoitem;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        todoitem = await DB.TodoItem.FirstOrDefaultAsync(m => m.Id == Id);

        if (todoitem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
